/* 
    Document   : style
    Created on : Jun 8, 2013, 11:16:13 AM
    Author     : mielvandersande
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

#files {
  border: gray solid thin;
  padding: 20px;
}

#frame {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

#jobs {
  margin: 2px 2px 2px 2px;
}

form li {
  clear: both;
  margin: 0 0 .75em;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  border: #ececec solid thin;
  
}
form input {
  width:150px
}

label {
  float: left;
  margin-right: 10px;
  display: block;
  width: 150px
}

#book, #subtitle{
  width: 30%;
  display: inline-block;
  border: #bbb solid 1px;
}

#book {
  left: 0%;
}

#subtitle {
  left: 30%;
}

#player {
  right: 0%;
}

#player {
  width: 40%
}


.entry {
  border-bottom: #bbb thin solid;
}